@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  box-sizing: border-box;

} 

body{
  text-align: center;
}

a{
  text-decoration: none;
  color: #888;
}

a:hover{
  color: cyan;
}

.welcome{
  text-align: center;
}

.footer{
  margin-top:15% ;
}

.each-movie{
  border: 1px solid white;
  width: 240px;
  height: 450px;
  box-shadow: 2px 2px whitesmoke;

}

.each-movie img{
  max-height: 300px;
  min-width: 240px;
  
}

.all-movies{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 10%;
  align-items: center;
  margin-left: 4%;
}

legend{
  font-size: 40px;
}

.form-container{
  border: 1px solid white;
  width: 600px;
  height: 700px;
  margin: auto;
  margin-top: 5%;
  box-shadow: 2px 2px white;
  border-top-left-radius: 40px;
}

form{
  display: flex;
  flex-direction: column;
}

form input {
  width: 300px;
  margin: auto;

}

form label{
  font-size: 35px;
  margin-top: 4%;
}

form button{
  border: 1px solid white;
  width: 75px;
  margin: auto;
  margin-top: 5%;
}

.submit{
  margin-top: 5% ;
  font-size: 30px;
  border: 1px solid white;
  width: 120px;
}

.all-movies2{
  margin-top: 10%;
  align-items: center;
  margin-left: 4%;
}

.each-movie2 img{
  max-height: 300px;
  width: 240px;
  gap: 50px;
  margin: 5%;
}

.each-movie2{
  width: 1400px;
  height: 350px;
}

.signUpPage{
  border: 1px solid white;
  height: 400px;
  width: 400px;
  margin: auto;
  margin-top: 10%;
}


.signupBtn{
  margin-top: 8%;
  border: 1px solid white;
  width: 80px;
}