@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  box-sizing: border-box;

} 

body{
  text-align: center;
}

a{
  text-decoration: none;
  color: #888;
}

a:hover{
  color: cyan;
}

.welcome{
  text-align: center;
}

.footer{
  margin-top:15% ;
}




 
